.top{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}
.navs{
    display: flex;
    justify-content: space-between;
    color:white;
    background-color: rgb(64, 21, 21);
    align-items: center;
}

.img{
    width:100px;
    padding:20px;

}
/* .btn{
    color:black;
    background-color: yellow;
    height: 30px;
    width: 70px;
} */
.cnts{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    list-style: none;
} 
.para{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify
}
.h{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style :'oblique';
    
}
.img3{
    width: 100%;
    height: 300px;
}
.foot{
    background-color: black;
}
.f{
    color: white;
}
